DB_CONTAINER=devdb
DB_CONTAINER_DATA=devdb-data
DB_NAME=db
SEC_DB_NAME=postgres
DB_USER=usr
DB_PASSWORD=pw

POSTGRES_PASSWORD=postgres

REMOTE_HOST=123.456.789.012
REMOTE_PORT=5432
REMOTE_USER=usr
REMOTE_PASSWORD=pw
REMOTE_DATABASE=db