<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="list" href="/tabs/list">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Lista</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/map">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label>Térkép</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Beállítások</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
