<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Kezdőlap</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/home">
      <ion-icon name="map" ></ion-icon>
      <ion-label>Térkép</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
