<ion-content id="main-content" [fullscreen]="true">
  <ion-header class="map-header">
    <ion-toolbar>
    <table>
  <tr style="text-align: center;">
    <td>
      <ion-title size="large">Térkép</ion-title>
    </td>
    <td>

      <ion-input 
        type="text"
        name="varos"
        id="varos"
        [(ngModel)]="searchCity"
        (keyup.enter)="varos_kereses()"
        placeholder="Város keresése">
      </ion-input>

    </td>
    <td>
      <ion-button (click)="varos_kereses()">Keresés</ion-button>
    </td>
    <td>
      <ion-toggle [checked]="isThemeDark" (ionChange)="ToggleTheme()"></ion-toggle>
    </td>
    
  </tr>

</table>

    </ion-toolbar>
  </ion-header>

  <div id="map"></div>
  <div id="log-container" style="white-space: pre-wrap; word-wrap: break-word;"></div>
</ion-content>
