<ion-content id="main-content" [fullscreen]="true">
  <ion-header class="map-header">
    <ion-toolbar>
    <table>
  <tr style="text-align: center;">
    <td>
      <ion-title size="large">Térkép</ion-title>
    </td>
    <td>

      <ion-input 
        (keyup.enter)="varos_kereses($event)"
        placeholder="Város keresése">
      </ion-input>

    </td>
    <td>
      <ion-toggle [checked]="isThemeDark" (ionChange)="ToggleTheme()">Theme</ion-toggle>
    </td>
    
  </tr>

</table>

    </ion-toolbar>
  </ion-header>

  <div id="map"></div>

</ion-content>
